html {
    background-color: #F4EEFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #424874
}

.page-header {
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
}

.about {
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
}

.experience {
    background-color: #DCD6F7;
    margin: 10px 10px;
    padding: 10px;
}

.education {
    background-color: #DCD6F7;
    margin: 10px 10px;
    padding: 10px;
}

.skills {
    background-color: #DCD6F7;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
}

#headshot {
    width: 15%;
    border: 5px solid #A6B1E1;
    margin-left: 46%;
    width: 8%;
    border-radius: 50%;
}

#colgate-logo {
    margin-left: 10px;
}

#indeed-logo {
    margin-left: 10px;
}

#about-text {
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
}

#about-me-list {
    text-align: center;
    margin-bottom: 10px;
}

#experience-list {
    margin-left: 15px;
}

h1 {
    font-weight: 680;
}

h2 {
    text-align: center;
    font-weight: 650;
}

h3 {
    font-weight: 500;
    font-size: 13pt;   
}
