html {
    background-color: #F4EEFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #424874
}

.page-header {
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
}

#headshot {
    width: 15%;
    border: 5px solid #DCD6F7;
    margin-left: 46%;
    margin-bottom: 10px;
    width: 8%;
}

.about {
    text-align: center;
    background-color: #A6B1E1;
    padding: 1px;
}

#about-text {
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
}

#about-me-list {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #A6B1E1;
    padding: 10px;
    
}

h2 {
    text-align: center;
}

.education {
    background-color: #A6B1E1;
    padding: 1px;
}

.skills {
    text-align: center;
}

#colgate-logo {
    margin-left: 10px;
}

#indeed-logo {
    margin-left: 10px;
}


